bot:
  token: ${TOKEN}

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  liquibase:
    enabled: false
    changeLog: classpath:/db/changelog/0001_changelog.xml